/*Ici,je rédige la feuille de style pour mettre en forme*/
div{

    /*couleur le fichier service.html*/
    color: red;

    /*le code de l'arriéer-plan de la page*/
    background-color:aqua;
    border:dotted;
    border-color: blue;
}
#divsolid{
    border-radius:100px 80px 40px 20px ;
    border: solid;
}
#divdotted{
    border-radius: 25px 45px 85px 65px;
    border: dotted;
}
#divdouble{
    border-radius: 10px 30px 50px 70px;
    border: double;
}
#divdashed{
    border:dashed;
    border-radius: 90px 60px 35px 75px;
}