/*Ici,je rédige la feuille de style pour mettre en forme*/
/*
div{

    /*couleur le fichier service.html*/
   /* color: red;*/

    /*le code de l'arriéer-plan de la page*/
   /* background-color:aqua;
    border:dotted;
    border-color: blue;
    text-align: center;
}
*/
div{
    /*hauter*/
    height: 120px;
    /*lareger*/
    width: 125px;
}
#divsolid{
    /*ajout une arrondir des angles*/
    border-radius:100px 80px 40px 20px ;
    border: solid;
    width: 50px;
}
#divdotted{
    border-radius: 25px 45px 85px 65px;
    border: dotted;
    width: 70px;

    /*le text est aligné au centre*/
    text-align: center;
}
#divdouble{
    border-radius: 10px 30px 50px 70px;
    border: double;
    width: 90px;
    height: 75px;
}
#divdashed{
    border:dashed;
    border-radius: 90px 60px 35px 75px;
    width: 60px;
    background-color: #32156e;
}
#div4{
    width: 300px;
    height: 300px;
    background: linear-gradient(40deg, #32156e, #e10b99);
    border-radius: 30% 70% 70% 30% /30% 58% 42% 70%;
}
#div5{
    width: 200px;
    height: 200px;
    box-shadow: 6px 8px 2px red
}