/*Insérer fichier css dans coDE Style.css*/

/*Chengement des couleur */
p{
    color: red;
    text-align: center;
    

}
p classe{
    color: blue;

}

h1{
    color: darkgreen;
}
h2{
    color: coral;
}


ul{
    color: blueviolet;
}

ol{
    color: rgb(255, 0, 230);
}


a{
    color: gold;
}


h3{
    color: aqua;
}

title{
    color: brown;
    

}

    /*je sélectionne toute les paragraphe rsma en couleur bleu*/
.RSMA {
    color: blue;
}
    
{

}




