/*Insérer fichier css dans coDE Style.css*/

/*Chenge mes paragraphe en couleur */
p{
    color: red;
    text-align: center;
    

}

p classe{
    color: blue;

}
/*j'ai mis tout mes h en couleur*/
h1{
    color: darkgreen;
}
h2{
    color: coral;
}


ul{
    color: blueviolet;
}

ol{
    color: rgb(255, 0, 230);
}


a{
    color: gold;
}


h3{
    color: aqua;
}
/*j'ai mis tout mes en couleur*/
title{
    color: brown;
    

}

    /*je sélectionne toute les paragraphe rsma en couleur bleu*/
    /*je modifier la taille de texte*/
    /* je spécifier la taille du texte*/
    /* jai intéger la police roboto*/
    
.RSMA {
    color:blue ;
    font-size:15px;
    font-size: 1em;
}

body{
    font-family:roboto,sans-serif;
}





    




